.header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 77;
    background: #1a1d2e;
    padding: 16px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Headername{
    font-weight: 700;
    font-size: 25px;
    color: #fff;
}